
/* Home */
div.home{
    height: 100vh;
    background-image: url(./images/drew-coffman-1872.jpg);
    background-size: cover;
    background-position:0px -150px ;
    background-repeat: no-repeat;
    overflow: hidden;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
  font-style: normal;
}
/* Navbar */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clr{
    clear: both;
}

nav{
    margin: 20px;

}

nav div.logo img{
    width: 177px;
    float: left;

}

nav div.menu ul{

}
    nav div.menu ul li{
    
    list-style-type: none;
    float: right;
}
nav div.menu ul li a{
    text-decoration: none;
    padding-inline: 10px;
    color: aliceblue;


}
nav div.menu ul li a:hover {
    text-decoration: none;
    padding-inline: 10px;
color:#8e7754 ;
transition: 0.5s;}
div.home-container{
    
    text-align: center;
    margin-top: 200px;
}
div.home-container h2{
    padding-block: 20px;
    font-family: "Alegreya", serif;
    font-size: 64px;
    font-weight: 100;
}
div.home div.btns{
    margin-top: 30px;
}
div.home div.btns button{
    color: aliceblue;
    padding: 15px 10px;
    border: solid 3px aliceblue;
    background-color: transparent;
    border-radius: 5px;
    margin-inline:10px ;
font-weight: 600;
}
div.home div.btns button.learn{
    background-color: #8e7754;
    border-color: #8e7754;
}
div.home div.btns button:hover {
background-color: aliceblue;
border-color: aliceblue;
color: black;
transition: 0.5s;
}

/* Who We Are */
div.who-container{
    height: 100vh;
    padding: 125px;
    font-family: "Roboto", sans-serif;
}
div.who-container div.img{
width: 50%;
float: left;
padding-right: 50px;
margin: auto;
}
div.who-container div.img img{
    width: 100%;
}
div.who-container div.who-we-are{
    width: 50%;
    float: right;
    padding-left: 50px;
}

div.who-container div.who-we-are h2{

    padding-block: 50px 20px;
    font-family: "Alegreya", serif;
    font-weight: 100;
    font-size: 32px;
    
}
div.who-container div.who-we-are p{
    line-height: 0.8cm;
    color: #8e7754;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 17px;
}
div.who-container div.who-we-are ul{
    list-style: none;
    font-family: "Alegreya Sans", sans-serif;
margin-top: 30px;
color: #8e7754;
}

div.who-container div.who-we-are ul li{

    padding-block: 10px;

}

div.who-container div.who-we-are ul li img{
    width: 50px;
    border: solid #8e7754 1px;
    border-radius: 50%;
}

/* Our location */
div.our-container{
    height: 100vh;
    padding: 125px;
    background-color: #f8f8f8;
}
div.our-container div{
    width: 50%;
}
div.our-container div.our-location-content{
    float: left;

}
div.our-container div.img{
    float: right;
}
div.our-container div.img img{
    width: 100%;
}

div.our-container div.our-location-content p{
    line-height: 0.8cm;
    color: #8e7754;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 17px;
}

div.our-container div.our-location-content h2{
    
    padding-block: 50px 20px;
    font-family: "Alegreya", serif;
    font-weight: 100;
    font-size: 32px;
    
}
